/*
 * File Name: index.css
 * Student's Name: Mo'ath Zaghdad
 * Date: Sep 24, 2024
 */

body {
  padding-top: 4.5rem;
}
nav >{
  padding: 0 15px;
}

.navbar-dark .navbar-nav .active>.nav-link {
  color: #fff;
}
